[viewBag]
==
<style>
                                    .tt_fcadm .tt_txts {
                                        overflow: hidden;
                                        font-size: 15px;
                                    }
                                    .tt_fclines {
                                        margin-bottom: 15px;
                                    }
                                    *, ::after, ::before {
                                        box-sizing: border-box;
                                    }
                                    blockquote {
                                    display: block;
                                    margin-block-start: 1em;
                                    margin-block-end: 1em;
                                    margin-inline-start: 40px;
                                    margin-inline-end: 40px;
                                }
                                 blockquote {
                                    display: block;
                                    padding: 25px 20px 25px 85px;
                                    position: relative;
                                    font-style: normal;
                                    font-size: 19px;
                                    min-height: 100px;
                                    line-height: 28px;
                                    font-style: normal;
                                    margin: 24px 0;
                                    font-weight: 400;
                                    border-left-width: 5px;
                                    border-left-style: solid;                                        
                                    background-color: #f4f6f9;                                   

                                }
                                
                               blockquote:before {
                                    position: absolute;
                                    content: '\f10d';
                                    font-family: "FontAwesome";
                                    font-size: 37px;
                                    line-height: 37px;
                                    top: 28px;
                                    left: 25px;
                                    color: #ff4f01;
                                }
                                   .img-fluid {
                                        max-width: 100%;
                                    }
                                    p img{
                                        max-width: 100%;
                                        height: auto !important;
                                    }
                                    .center {
                                      display: block;
                                      margin-left: auto;
                                      margin-right: auto;
                                      width: 50%;
                                    }
                                    
                                       h2 button {
                                        background-color: #4569da;
                                        }
                                    
                                    
                                    </style>