title = "ilmiy test faoliyat"
url = "/ilmiy-test-faoliyatyt"
layout = "Markaz"
is_hidden = 0
role = 0
permission = 0
anonymous_only = 0
logged_only = 0

[staticPage]
useContent = 1
default = 1
==
{% component 'siteSearchInclude' %}




      
      {% if date('H') >= 12 . AND . date('H') <= 1  %}
<div class="hero-wrap" style="background-image: url('{{'/storage/app/media/IMG_3448-min.jpg'}}'); background-attachment:fixed; ">

{% else %}
<div class="hero-wrap" style="background-image: url('{{'/storage/app/media/bannerlar/IMG_4036-min.jpg'}}'); background-attachment:fixed; ">
{% endif %}


{% if date('H') >= 12 . AND . date('H') <= 1  %}
<div  style="background-image: url('{{'/storage/app/media/IMG_3448-min.jpg'}}'); background-attachment:fixed; ">

{% else %}
<div  style="background-image: url('{{'/storage/app/media/bannerlar/IMG_4036-min.jpg'}}'); background-attachment:fixed; ">
{% endif %}