title = "Markaz va bo'limlar"
url = "/markaz-bolimlar"
layout = "yangiliklar_va_boshqa"
is_hidden = 0

[builderList]
modelClass = "Raxmatilla\IqtidorliTalabalar\Models\Bolimlar"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "slug"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
==
{% set records = builderList.records %}
{% set displayColumn = builderList.displayColumn %}
{% set noRecordsMessage = builderList.noRecordsMessage %}
{% set detailsPage = builderList.detailsPage %}
{% set detailsKeyColumn = builderList.detailsKeyColumn %}
{% set detailsUrlParameter = builderList.detailsUrlParameter %}

<ul class="record-list">
    {% for record in records %}
        <li>
            {# Use spaceless tag to remove spaces inside the A tag. #}
            {% spaceless %}
                {% if detailsPage %}
                    <a href="{{ detailsPage|page({ (detailsUrlParameter): attribute(record, detailsKeyColumn) }) }}">
                {% endif %}

                {{ attribute(record, displayColumn) }}

                {% if detailsPage %}
                    </a>
                {% endif %}
            {% endspaceless %}
        </li>
    {% else %}
        <li class="no-data">{{ noRecordsMessage }}</li>
    {% endfor %}
</ul>

{% if records.lastPage > 1 %}
    <ul class="pagination">
        {% if records.currentPage > 1 %}
            <li><a href="{{ this.page.baseFileName|page({ (pageParam): (records.currentPage-1) }) }}">&larr; Prev</a></li>
        {% endif %}

        {% for page in 1..records.lastPage %}
            <li class="{{ records.currentPage == page ? 'active' : null }}">
                <a href="{{ this.page.baseFileName|page({ (pageParam): page }) }}">{{ page }}</a>
            </li>
        {% endfor %}

        {% if records.lastPage > records.currentPage %}
            <li><a href="{{ this.page.baseFileName|page({ (pageParam): (records.currentPage+1) }) }}">Next &rarr;</a></li>
        {% endif %}
    </ul>
{% endif %}


<!-- page-title -->
        <div class="ttm-page-title-row">
            <div class="ttm-page-title-row-inner ttm-textcolor-white">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-12">
                            <div class="page-title-heading">
                                <h2 class="title">Shop</h2>
                            </div>
                            <div class="breadcrumb-wrapper">
                                <span>
                                    <a title="Homepage" href="index.html">Home</a>
                                </span>
                                <span class="ttm-bread-sep">&nbsp;&gt;&nbsp;</span>
                                <span class="current">Products</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>                    
        </div><!-- page-title end-->


    <!--site-main start-->
    <div class="site-main">

        <div class="ttm-row sidebar ttm-sidebar-right ttm-bgcolor-white clearfix">
            <div class="container">
                <!-- row -->
                <div class="row">
                    <div class="col-lg-12 content-area">
                        <p class="products-result-count">Showing 1–9 of 23 results</p>
                        <form class="products-ordering float-sm-right" method="get">
                            <div class="orderby">
                                <select name="orderby" class="select2-hidden-accessible">
                                    <option value="menu_order" selected="selected">Default sorting</option>
                                    <option value="popularity">Sort by popularity</option>
                                    <option value="rating">Sort by average rating</option>
                                    <option value="date">Sort by newness</option>
                                    <option value="price">Sort by price: low to high</option>
                                    <option value="price-desc">Sort by price: high to low</option>
                                </select>
                            </div>
                        </form>
                        <div class="products row">
                        

                            <!-- product -->                            
                            <div class="product col-lg-3 col-md-6 col-xs-12">
                                <div class="ttm-product-box">
                                    <!-- ttm-product-box-inner -->
                                    <div class="ttm-product-box-inner">
                                        <div class="ttm-shop-icon">
                                            <div class="product-btn"><a href="shop.html#" class="add-to-wishlist"><i class="ti ti-heart"></i></a></div>
                                            <div class="product-btn"><a href="shop.html#" class="compare button"><i class="ti ti-pin-alt"></i></a></div>
                                        </div>
                                        <div class="ttm-product-image-box">
                                            <img class="img-fluid" src="images/product/product-one.jpg" alt="">
                                        </div>
                                    </div><!-- ttm-product-box-inner end -->
                                    <div class="ttm-product-content">
                                        <a class="ttm-product-title" href="product-details.html">
                                            <h2>Clock Work</h2>
                                        </a>
                                        <div class="star-ratings"></div>
                                        <span class="price"><span class="product-Price-amount">
                                            <span class="product-Price-currencySymbol">$</span>30.00</span>
                                        </span>
                                        <div class="add-to-cart-btn">
                                            <a href="shop.html#" class="ttm-btn ttm-btn-size-md ttm-btn-shape-square ttm-btn-style-fill ttm-btn-color-dark">Add to cart</a>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- product end -->
                            
                            
                        </div>
                        <div class="pagination-block">
                            <span class="page-numbers current">1</span>
                            <a class="page-numbers" href="shop.html#">2</a>
                            <a class="next page-numbers" href="shop.html#"><i class="ti ti-arrow-right"></i></a>
                        </div>
                    </div>
               
                </div><!-- row end -->
            </div>
        </div>

    </div><!--site-main end-->