title = "Markaz va bo'lim sahifasi"
url = "/markaz-va-bolim-sahifasi/:slug?"
layout = "yangiliklar_va_boshqa"
is_hidden = 0

[builderDetails]
modelClass = "Raxmatilla\IqtidorliTalabalar\Models\Bolimlar"
identifierValue = "{{ :slug }}"
modelKeyColumn = "slug"
displayColumn = "slug"
notFoundMessage = "Record not found"
==
{% set record = builderDetails.record %}
        {% set displayColumn = builderDetails.displayColumn %}
        {% set notFoundMessage = builderDetails.notFoundMessage %}


        <!-- page-title -->
        <div class="ttm-page-title-row">
            <div class="ttm-page-title-row-inner ttm-textcolor-white">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-12">
                            <div class="page-title-heading">
                                <h2 class="title">{{ record.title }}</h2>
                                <h5>{% if record.markaz_or_bolim == 0 %} {{"Markaz boshlig'i:"|_}} {% else%} {{"Bo'lim boshlig'i:"|_}} {% endif %}{{ record.b_boshligi }}</h5>
                            </div>
                            <div class="breadcrumb-wrapper">
                                <span>
                                    <a title="Homepage" href="{{'/'}}">{{"Bosh sahifa"|_}}</a>
                                </span>
                                <span class="ttm-bread-sep">&nbsp;&gt;&nbsp;</span>
                                <span>
                                 <a title="Homepage" href="{{'/markaz-bolimlar'}}">{{"Markaz va bo'limlar"|_}}</a>
                                 </span>
                                <span class="ttm-bread-sep">&nbsp;&gt;&nbsp;</span>
                                <span class="current">{{"Siz turgan sahifa"|_}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>                    
        </div><!-- page-title end-->


    <!--site-main start-->
    <div class="site-main">


        <section class="ttm-row clearfix">
            <div class="ttm-team-member-single-content-wrapper ttm-team-member-view-default">
                <div class="container">
                    <div class="ttm-team-member-single-content row">
                        <div class="col-lg-12">
                            <!-- ttm-learn-press-profile-header -->
                            <div class="ttm-learn-press-profile-header">
                                <div class="ttm-learn-press-profile-item clearfix">
                                    <div class="ttm-learn-press-left" style="width: 240px;height: 240px;">
                                        {% if record.b_boshligi_avatar %}
                                            <img src="{{ record.b_boshligi_avatar|media| resize(240,240, { mode: 'crop', quality: '80' })}}" alt="{{ record.b_boshligi }}" class="avatar alignnone photo">
                                            {% else %}
                                             <img src="{{ '/storage/app/media/sayt%20sozlamlari%20suratlari/undraw_male_avatar_323b.png' | resize(240,240, { mode: 'crop', quality: '80' })}}" alt="{{ record.b_boshligi }}" class="avatar alignnone photo">
                                        {% endif %}
                                    </div>
                                  
                                    
                                    <style>
                                    .tt_fcadm .tt_txts {
                                        overflow: hidden;
                                        font-size: 15px;
                                    }
                                    .tt_fclines {
                                        margin-bottom: 15px;
                                    }
                                    *, ::after, ::before {
                                        box-sizing: border-box;
                                    }
                                    blockquote {
                                    display: block;
                                    margin-block-start: 1em;
                                    margin-block-end: 1em;
                                    margin-inline-start: 40px;
                                    margin-inline-end: 40px;
                                }
                                 blockquote {
                                    display: block;
                                    padding: 25px 20px 25px 85px;
                                    position: relative;
                                    font-style: normal;
                                    font-size: 19px;
                                    min-height: 100px;
                                    line-height: 28px;
                                    font-style: normal;
                                    margin: 24px 0;
                                    font-weight: 400;
                                    border-left-width: 5px;
                                    border-left-style: solid;                                        
                                    background-color: #f4f6f9;                                   

                                }
                                
                               blockquote:before {
                                    position: absolute;
                                    content: '\f10d';
                                    font-family: "FontAwesome";
                                    font-size: 37px;
                                    line-height: 37px;
                                    top: 28px;
                                    left: 25px;
                                    color: #ff4f01;
                                }
                                   .img-fluid {
                                        max-width: 100%;
                                    }
                                    p img{
                                        max-width: 100%;
                                        height: auto !important;
                                    }
                                    .center {
                                      display: block;
                                      margin-left: auto;
                                      margin-right: auto;
                                      width: 50%;
                                    }
                                    </style>
                                    
                                    <div class="ttm-learn-press-right" style="margin-left: 50px;">
                                        <h2 class="ttm-authorname">{{ record.b_boshligi }}</h2>
                                        {#<div class="ttm_instructor_designation">{{ record.mavqe }}</div>#}
                                        <div class="ttm-social-links-wrapper">
                                           <div class="tt_txts">
                                           <div class="tt_fclines"><strong>{{"Joylashuv"|_}}:</strong> <span> {{ record.joylashuv }} </span></div>
                                            
                                            <div class="tt_fclines"><strong>{{"Telefon"|_}}:</strong> <span> {{ record.tell }} </span></div>
                                            <div class="tt_fclines"><strong>{{"E-mail"|_}}: <a href="mailto:{{ record.email }}">{{ record.email }}</a></strong><span></span><span> </span></div>
                                            <div class="tt_fclines">&nbsp;</div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    
                                </div>
                            </div>
                            <!-- ttm-learn-press-profile-header end -->
                            <div id="learn-press-profile-nav">
                                <div class="mt-50">
                                    <div class="row">
                                        <div class="col-lg-2 col-md-2 col-sm-12">
                                            <h4>{% if record.markaz_or_bolim == 0 %} {{"Markaz vazifalari"|_}} {% else%} {{"Bo'lim vazifalari:"|_}} {% endif %} </h4>
                                        </div>
                                        <div class="col-lg-10 col-md-10 col-sm-12">
                                            {{ record.bolim_vazifalari|raw }}
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="row">
                                        <div class="col-lg-2 col-md-2 col-sm-12">
                                            <h4>{% if record.markaz_or_bolim == 0 %} {{"Markaz maqsadi"|_}} {% else%} {{"Bo'lim maqsadi:"|_}} {% endif %} </h4>
                                        </div>
                                        <div class="col-lg-10 col-md-10 col-sm-12">
                                            {{ record.bolim_maqsadi|raw }}
                                        </div>
                                    </div>
                                </div>
                            
                                <div class="mt-50">
                                    <div class="row">
                                        <div class="col-lg-2 col-md-2 col-sm-12">
                                            <h4>{{"Qo'shimcha"|_}}</h4>
                                        </div>
                                        <div class="col-lg-10 col-md-10 col-sm-12">
                                            <h6>{{ record.title }}{{"ga tegishli boshqa ma'lumotlar"|_}}</h6>
                                            <div class="ttm-tabs ttm-tab-style-horizontal" data-effect="fadeIn">
                                                <ul class="tabs clearfix">
                                                    <li class="tab active"><a href="#">{{"Hodimlar"|_}}</a></li>
                                                    <li class="tab"><a href="#">{{"Xujjatlar"|_}}</a></li>
                                                    
                                                </ul>
                                                <div class="content-tab">
                                                    <!-- content-inner -->
                                                    <div class="content-inner active">                                                  
                                                      <div class="learn-press-message success" {% if record.team %}style="background: #fbfbfb !important;" {% else %} style="background: #fff !important;" {% endif %} ><i class="fa"></i>
                                                        <div class="col-md-12">
                                                            <div class="pt-15 pl-15 pr-15 pb-15 res-991-p-0 res-991-mt-20">
                                                               
                                                                <div class="pt-10 pb-30 res-991-pb-15">
                                                                    <ul class="ttm-list ttm-list-style-icon ttm-list-icon-color-skincolor">   
                                                                         {% for hodim in record.team %}
                                                                            <li><i class="fa fa-arrow-circle-right"></i><div class="ttm-list-li-content"><b><a href="{{'/'}}{{ hodim.slug}}">{{ hodim.fish }} </a></b> </div> <br> <strong style="color: #ff4f01;"> {{"Lavozimi"|_}}  </strong> {{ hodim.lavozim }}
                                                                            {% if hodim.yoshi %}
                                                                            <strong style="color: #ff4f01;">{{"Yoshi"|_}}:</strong> {{ hodim.yoshi}} {{"yoshda"|_}} 
                                                                            {% else %}
                                                                            <strong style="margin-left: 5% !important;"></strong>
                                                                            {% endif %}
                                                                            <img style="margin-left: 10%; border-radius: 50%; margin-top: -30px; " src="{{ hodim.team_logo|media | resize(80, 80,  { mode: 'crop', quality: '80' })}}" alt="{{ hodim.fish }}" class="avatar">
                                                                            </li>
                                                                            
                                                                            <hr> 
                                                                            
                                                                            {% else %}
                                                                             <img style="" src="{{ '/storage/app/media/sayt%20sozlamlari%20suratlari/undraw_Posts_re_ormv.png' | resize(400,279,  { mode: 'crop', quality: '80' })}}"  class="avatar center">
                                                                            
                                                                          {% endfor%} 
                                                                          
                                                                    
                                                                    </ul>
                                                                </div>
                                                              </div>
                                                        </div>
      
    
                                                     </div>
                                                    
                                                        
                                                        
                                                        
                                                        
                                                    </div><!-- content-inner end-->
                                                    <!-- content-inner -->
                                                    <div class="content-inner"> 
                                                        <div class="learn-press-message success" {% if record.team %}style="background: #fbfbfb !important;" {% else %} style="background: #fff !important;" {% endif %} ><i class="fa"></i>
                                                         <div class="col-md-12">
                                                            <div class="pt-15 pl-15 pr-15 pb-15 res-991-p-0 res-991-mt-20">
                                                               
                                                                <div class="pt-10 pb-30 res-991-pb-15">
                                                                
                                                                    <ul class="ttm-list ttm-list-style-icon ttm-list-icon-color-skincolor">   
                                                                         {% for hujjat in record.hujjatlar %}
                                                                            <li><i class="fa fa-arrow-circle-right"></i><div class="ttm-list-li-content"><b><a href="{{url('/')}}{{ hujjat.hujjatlar_fayl|media}}"> {{ hujjat.file_nomi }} </a></b> </div> <br> 
                                                                            </li>                                                                            
                                                                            <hr> 
                                                                             {% else %}   
                                                                              <img style="" src="{{ '/storage/app/media/sayt%20sozlamlari%20suratlari/undraw_teamwork_hpdk.png' | resize(400,279,  { mode: 'crop', quality: '80' })}}"  class="avatar center">
                                                                   {% endfor%} 
                                                                    </ul>
                                                                     
                                                                </div>
                                                              </div>
                                                        </div>
                                                        
                                                      
                                                        </div>
                                                    </div><!-- content-inner end-->
                                                  
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
      
    </div><!--site-main end-->