description = "OTM joylashuvi qismi google karta rasmli"

[viewBag]
==
<!--action-section-->
    <section class="ttm-row action2-section ttm-bgcolor-darkgrey bg-img7 ttm-bg ttm-bgimage-yes clearfix">
        <div class="ttm-row-wrapper-bg-layer ttm-bg-layer" style="opacity: .82;"></div>
        <div class="container"><!--container-->
            <div class="row"><!--row-->
                <div class="col-lg-9 m-auto">
                    <div class="row-title text-center mt_5">
                        <div class="ttm-icon ttm-icon_element-onlytxt ttm-icon_element-color-skincolor ttm-icon_element-size-xl">
                            <i class="flaticon-college"></i>
                        </div>
                        <!-- section title -->
                        <div class="section-title mb-5">
                            <div class="title-header ttm-textcolor-white">
                                <h5>OTM JOYLASHUVI!</h5>
                                <h2 class="title">Chirchiq davlat pedagogika institutining <br> <span class="ttm-textcolor-skincolor">joylashuv nuqtalari </span>va unga olib boruvchi yo'llar.</h2>
                            </div>
                        </div><!-- section title end -->
                        <a class="ttm-btn ttm-btn-size-md ttm-btn-shape-square ttm-btn-style-border ttm-btn-color-white" href="#">Xaritaga o'tish</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--action-section end-->