description = "Hali sozlanmagan va hali kutayotgan qism"

[viewBag]
==
<!--blog2-section-->
<section class="ttm-row blog2-section clearfix">
    <div class="container">
         <!-- row -->
        <div class="row align-items-center">
            <div class="col-xl-10 col-lg-10 col-md-12">
                <!-- section-title -->
                <div class="section-title style2 clearfix">
                    <div class="title-header">
                        <h5>OUR ARTICLES</h5>
                        <h2 class="title">Latest News & Blog</h2>
                    </div>
                    <div class="title-desc">A comprehensive summary of the day’s most trending blog posts & news articles from the best Education websites on the web.</div>
                </div><!-- section-title end -->
            </div>
            <div class="col-xl-2 col-lg-2 col-md-12">
                <a class="ttm-btn ttm-btn-size-md ttm-btn-shape-square ttm-btn-style-border ttm-btn-color-dark mb-35 float-lg-right" href="header-style-02.html#">More News</a>
            </div>
        </div><!-- row end -->
        <div class="row">
            <div class="col-lg-6">
                <!-- featured-imagebox-post -->
                <div class="featured-imagebox featured-imagebox-post style2">
                    <div class="ttm-post-thumbnail featured-thumbnail"> 
                        <img class="img-fluid lazyload" data-src="{{ 'assets/images/blog/blog-one-720x544.jpg'|theme}}" alt="image">
                    </div>
                    <div class="featured-content featured-content-post">
                        <div class="ttm-box-post-date">
                            <span class="ttm-entry-date">
                                <time class="entry-date" datetime="2019-08-12T08:47:17+00:00">12 August 2019</time>
                            </span>
                        </div>
                        <div class="post-meta">
                            <span class="ttm-meta-line byline"><i class="fa fa-user"></i>Admin</span>
                            <span class="ttm-meta-line cat-link"><i class="fa fa-tag"></i>General Knowledge</span>
                        </div>
                        <div class="post-title featured-title">
                            <h5><a href="blog-single.html">Ideas For Students Not To Forget</a></h5>
                        </div>
                        <div class="post-desc featured-desc">
                            <p>Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque...</p>
                        </div>
                    </div>
                </div><!-- featured-imagebox-post end-->
            </div>
            <div class="col-lg-6">
                <!-- featured-imagebox-post -->
                <div class="featured-imagebox featured-imagebox-post style2">
                    <div class="featured-content featured-content-post">
                        <div class="post-meta">
                            <span class="ttm-meta-line"><i class="fa fa-user"></i>Admin</span>
                            <span class="ttm-meta-line"><i class="fa fa-tag"></i>Child Education</span>
                        </div>
                        <div class="post-title featured-title">
                            <h5><a href="blog-single.html">Key points For Improving Focus Towards you Ensures that you Know where</a></h5>
                        </div>
                        <div class="ttm-post_box-footer">
                             <a class="ttm-btn ttm-btn-size-sm ttm-btn-color-skincolor btn-inline" href="blog-single.html">Read More</a>
                        </div>
                    </div>
                </div><!-- featured-imagebox-post end-->
                <!-- featured-imagebox-post -->
                <div class="featured-imagebox featured-imagebox-post style2">
                    <div class="featured-content featured-content-post">
                        <div class="post-meta">
                            <span class="ttm-meta-line"><i class="fa fa-user"></i>Admin</span>
                            <span class="ttm-meta-line"><i class="fa fa-calendar"></i>Gmat Classes</span>
                        </div>
                        <div class="post-title featured-title">
                            <h5><a href="blog-single.html">Education Agree Plans To Boost Recruitment your Performance Help you</a></h5>
                        </div>
                        <div class="ttm-post_box-footer">
                             <a class="ttm-btn ttm-btn-size-sm ttm-btn-color-skincolor btn-inline" href="blog-single.html">Read More</a>
                        </div>
                    </div>
                </div><!-- featured-imagebox-post end-->
                <!-- featured-imagebox-post -->
                <div class="featured-imagebox featured-imagebox-post style2">
                    <div class="featured-content featured-content-post">
                        <div class="post-meta">
                            <span class="ttm-meta-line"><i class="fa fa-user"></i>Admin</span>
                            <span class="ttm-meta-line"><i class="fa fa-tag"></i>General Knowledge</span>
                        </div>
                        <div class="post-title featured-title">
                            <h5><a href="blog-single.html">Equipping Researchers In The Developing Impact Rural Life by Bringing.</a></h5>
                        </div>
                        <div class="ttm-post_box-footer">
                             <a class="ttm-btn ttm-btn-size-sm ttm-btn-color-skincolor btn-inline" href="blog-single.html">Read More</a>
                        </div>
                    </div>
                </div><!-- featured-imagebox-post end-->
            </div>
        </div>
    </div>
</section>
<!--blog2-section end-->