description = "Ko'rinmas qism eng yuqori headda"

[viewBag]
==
<!-- fbar-main -->
        <div class="fbar-main">
            <div class="fbar-main-inner">
                <div class="fbar-btn"><a href="home-3.html#"><i class="ti ti-menu"></i></a></div>
                <!-- fbar-contents -->
                <div class="fbar-contents">
                    <div class="container">
                        <div id="floatingbar-widgets" class="row">
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 widget-area">
                                <aside class="widget widget_text enhanced-text-widget">
                                    <h3 class="widget-title mb-15">We Are The Best Uniaro Education In The <strong class="ttm-textcolor-skincolor">Gloabal World</strong></h3>
                                    <p>Uniaro University was established by J.H Merthon in 1920 for the public benefit. After wards, it is recognized globally. Throughout our great history.</p>
                                    <div class="d-flex align-items-center pt-10">
                                        <ul class="ttm-list ttm-list-style-icon ttm-textcolor-darkgrey pr-20">
                                            <li><i class="ttm-textcolor-skincolor fa fa-check"></i><span class="ttm-list-li-content">New Online Courses</span></li>
                                            <li><i class="ttm-textcolor-skincolor fa fa-check"></i><span class="ttm-list-li-content">Trending Courses</span></li>
                                            <li><i class="ttm-textcolor-skincolor fa fa-check"></i><span class="ttm-list-li-content">Career Security</span></li>
                                        </ul>
                                        <ul class="ttm-list ttm-list-style-icon ttm-textcolor-darkgrey pr-20">
                                            <li><i class="ttm-textcolor-skincolor fa fa-check"></i><span class="ttm-list-li-content">Certified Teachers</span></li>
                                            <li><i class="ttm-textcolor-skincolor fa fa-check"></i><span class="ttm-list-li-content">Experienced Faculty</span></li>
                                            <li><i class="ttm-textcolor-skincolor fa fa-check"></i><span class="ttm-list-li-content">Certification</span></li>
                                        </ul>
                                    </div><br>
                                    <div class="ttm-highlight-div ttm-bgcolor-skincolor">
                                        <h5><i class="fa fa-phone"></i> Call Us Now:+123-456-78790</h5>
                                    </div>
                                </aside>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 widget-area">
                                <div class="widget widget_timing clearfix">
                                    <h3 class="widget-title">Opening Hours</h3>
                                    <div class="ttm-timelist-block-wrapper">
                                        <ul class="ttm-timelist-block ttm-textcolor-darkgrey pr-15">
                                            <li>Monday<span class="service-time">09am - 05pm</span></li>
                                            <li>Tuesday<span class="service-time">09am - 05pm</span></li>
                                            <li>Wednesday<span class="service-time">09am - 05pm</span></li>
                                            <li>Thrusday<span class="service-time">09am - 05pm</span></li>
                                            <li>Friday<span class="service-time">09am - 05pm</span></li>
                                            <li>Saturday-Sunday<span class="service-time">Closed</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 widget-area">
                                <aside class="widget widget_text enhanced-text-widget">
                                    <h3 class="widget-title"> Want to talk? Let`s do it!</h3>
                                    <div role="form" class="wpcf7" id="wpcf7-f3264-o2" lang="en-US" dir="ltr">
                                        <form action="home-3.html#" method="post" class="wpcf7-form" novalidate="novalidate">
                                            <div class="ttm-commonform ttm-floatingbar-form">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <i class="ti-user"></i>
                                                            <input type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text" aria-required="true" aria-invalid="false" placeholder="Your Name">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <i class="ti-email"></i>
                                                            <input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email" aria-required="true" aria-invalid="false" placeholder="Your Email">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <i class="ti-mobile"></i>
                                                            <input type="text" name="your-phone" value="" size="40" class="wpcf7-form-control wpcf7-text" aria-required="true" aria-invalid="false" placeholder="Your Phone">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <i class="ti-pencil"></i>
                                                            <input type="text" name="your-subject" value="" size="40" class="wpcf7-form-control wpcf7-text" aria-required="true" aria-invalid="false" placeholder="Subject">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <i class="ti-comments"></i>
                                                            <textarea name="your-message" cols="40" rows="2" class="wpcf7-form-control wpcf7-textarea" aria-required="true" aria-invalid="false" placeholder="Message"></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <button class="submit ttm-btn ttm-btn-size-md ttm-btn-shape-square ttm-btn-style-border ttm-btn-color-dark mt-20" type="submit">Send A Request</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </aside>
                            </div>
                        </div>
                    </div>
                </div><!-- fbar-contents end -->
            </div>
        </div><!-- fbar-main end -->