description = "Sayt tag qismi"

[viewBag]
==
<!--footer start-->
     <footer class="footer ttm-bgcolor-darkgrey ttm-textcolor-white clearfix">
        <div class="second-footer">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 widget-area">
                        <div class="widget widget_text clearfix">
                            <div class="footer-logo">
                                <img id="footer-logo-img" style="max-height: 105px;" class="img-center lazyload" data-src="{{ 'assets/images/oq_logo.png'|theme |resize (198,105,  { mode: 'crop', quality: '80' })}}" alt="">
                            </div>
                            <div class="textwidget widget-text">
                                <p class="pb-10 pr-30 res-575-pr-0">{{"Toshkent viloyati Chirchiq davlat pedagogika instituti web sayti."|_}}</p>
                            </div>
                        </div>
                        <div class="widget widget_timing clearfix">
                           <h3 class="widget-title">Bog'lanish</h3>
                           <div class="ttm-timelist-block-wrapper">
                               <ul class="ttm-timelist-block pr-15">
                                   <li>Chirchiq shahri, Amir Temur ko'chasi 104 uy</li>
                                   <li>	+99870 716-68-05</li>
                                   <li>tvchdpi@edu.uz</li>
                               </ul>
                           </div>
                       </div> 
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 widget-area">
                        <div class="ftco-footer-widget mb-4 ml-md-4">
            
             

 
  <script width="100%" height="440" type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ad3b85ced1c6ba84b8bedcf728ddce43b6fa2f394a4700512ee732f8b8f33ffe1&amp;width=451&amp;height=440&amp;lang=ru_UA&amp;scroll=true"></script>
  </div>
                    </div>
                  
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 widget-area">
                        <div class="widget widget_nav_menu clearfix" style="margin-left: 20px;">
                           <h3 class="widget-title">{{"Foydali havolalar"|_}}</h3>
                            <ul id="menu-footer-services">
                                <li><a href="http://dist.cspi.uz">Elektron ta'lim tizimi</a></li>
                                <li><a href="http://lib.cspi.uz">Elektron kutubxona</a></li>
                                <li><a href="https://web2.webspace.uz/roundcube/">Email pochta</a></li>
                               
                            </ul>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom-footer-text text-center">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                    
                        <div class="d-sm-flex flex-row align-items-center justify-content-center pb-15">
                            <img data-src="https://d2f5cg397c40hu.cloudfront.net/website-static-files/images/october-color-logo-v1.svg" class="img-fluid lazyload" alt="award-one">
                            <div class="ml-30 pl-30 border-left res-575-ml-0 res-575-pl-0 res-575-mt-20">
                                <img style="height: 40px;" data-src="{{"/storage/app/media/20-09-10raxi-dev.jpg"}}" class="img-fluid lazyload" alt="award-two">
                            </div>
                        </div>
                        <div class="text-center pb-15">Copyright © 2020 Created by <a href="https://#/">RA : Raxmatilla Fayziyev TSMG-18/3K</a></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--footer end-->