[viewBag]
==
<section class="services">
    



        <div class="container" style="  margin-top: 80px;  max-width: 1400px;">

            
       <!-- section-title -->
       <div class="section-title style2 clearfix">
        <div class="title-header">
            <h5>{{"Toshkent viloyati Chirchiq davlat pedagogika instituti"|_}}</h5>
            <h2 class="title">{{"Interaktiv xizmatlar"|_}}</h2>
        </div>
        <div class="title-desc">{{"Interaktiv xizmatlar bo'limida birqancha xizmatlardan foydalanishingiz mumkin, bazibir xizmatlar hali ishga tushurilmaganligi uchun oldindan uzur so'raymiz."|_}}</div>
    </div><!-- section-title end -->

    <hr style="
    display: block;
    height: 1px;
    border: 0;
    border-top: 3px solid #ff4f01;
    margin: 1em 0;
    padding: 0;
    ">
    <br>    
          <div class="row">
          
           <div class="col-md-3">
                      <div class="service-block-interak">
                          <figure class="service-block-figure">
                              <img src="{{"/assets/images/png/mouse.png"|theme |resize(82, 82,  { mode: 'crop', quality: '80' })}}" class="attachment-full size-full wp-post-image" alt="">                        </figure>
                          <a href="#" class="service-block-title">
                              Oliy ma'lumot haqida diplomni tasdiqlash                        </a>
                      </div>
                  </div>
                              <div class="col-md-3">
                      <div class="service-block-interak">
                          <figure class="service-block-figure">
                              <img src="{{"/assets/images/png/school.png"|theme |resize(82, 82,  { mode: 'crop', quality: '80' })}}" class="attachment-full size-full wp-post-image" alt="">                        </figure>
                          <a href="#" class="service-block-title">
                              Ish joyidan ma'lumotnoma olish                        </a>
                      </div>
                  </div>
                              <div class="col-md-3">
                      <div class="service-block-interak">
                          <figure class="service-block-figure">
                              <img src="{{"/assets/images/png/graduate-1.png"|theme |resize(82, 82,  { mode: 'crop', quality: '80' })}}" class="attachment-full size-full wp-post-image" alt="">                        </figure>
                          <a href="#" class="service-block-title">
                              Talabalik haqida ma’lumot olish                       </a>
                      </div>
                  </div>
                              <div class="col-md-3">
                      <div class="service-block-interak">
                          <figure class="service-block-figure">
                              <img src="{{"/assets/images/png/presentation.png"|theme |resize(82, 82,  { mode: 'crop', quality: '80' })}}" class="attachment-full size-full wp-post-image" alt="">                        </figure>
                          <a href="#" class="service-block-title">
                              Konferensiya va ilmiy jurnallarga maqolalarni elektron qabul qilish                        </a>
                      </div>
                  </div>
                  
                  <div class="col-md-3">
                      <div class="service-block-interak">
                          <figure class="service-block-figure">
                              <img src="{{"/assets/images/png/workspace.png"|theme |resize(82, 82,  { mode: 'crop', quality: '80' })}}" class="attachment-full size-full wp-post-image" alt="">                        </figure>
                          <a href="#" class="service-block-title">
                              Oliy ta'lim muassasasi rahbari virtual qabulxonasi                       </a>
                      </div>
                  </div>
                  
                  
                              <div class="col-md-3">
                      <div class="service-block-interak">
                          <figure class="service-block-figure">
                              <img src="{{"/assets/images/png/graduates.png"|theme |resize(82, 82,  { mode: 'crop', quality: '80' })}}" class="attachment-full size-full wp-post-image" alt="">                        </figure>
                          <a href="#" class="service-block-title">
                              Talabalar turar joyida yashash uchun ariza berish                        </a>
                      </div>
                  </div>
                              <div class="col-md-3">
                      <div class="service-block-interak">
                          <figure class="service-block-figure">
                              <img src="{{"/assets/images/png/calendar.png"|theme |resize(82, 82,  { mode: 'crop', quality: '80' })}}" class="attachment-full size-full wp-post-image" alt="">                        </figure>
                          <a href="#" class="service-block-title">
                              Talabalar o'zlashtirishi haqida ma'lumot berish                        </a>
                      </div>
                  </div>
                              <div class="col-md-3">
                      <div class="service-block-interak">
                          <figure class="service-block-figure">
                              <img src="{{"/assets/images/png/chat.png"|theme |resize(82, 82,  { mode: 'crop', quality: '80' })}}" class="attachment-full size-full wp-post-image" alt="">                        </figure>
                          <a href="/bosh-ish-orinlari" class="service-block-title">
                              Vakant lavozimlar                     </a>
                      </div>
                  </div>
                              <div class="col-md-3">
                      <div class="service-block-interak">
                          <figure class="service-block-figure">
                              <img src="{{"/assets/images/png/conference.png"|theme |resize(82, 82,  { mode: 'crop', quality: '80' })}}" class="attachment-full size-full wp-post-image" alt="">                        </figure>
                          <a href="#" class="service-block-title">
                              Rahbar qabuliga yozilish                         </a>
                      </div>
                  </div>
                              <div class="col-md-3">
                      <div class="service-block-interak">
                          <figure class="service-block-figure">
                              <img src="{{"/assets/images/png/video-chat.png"|theme |resize(82, 82,  { mode: 'crop', quality: '80' })}}" class="attachment-full size-full wp-post-image" alt="">                        </figure>
                          <a href="#" class="service-block-title">
                              Abiturientlar arizasini elektron qabul qilish                        </a>
                      </div>
                  </div>
                              <div class="col-md-3">
                      <div class="service-block-interak">
                          <figure class="service-block-figure">
                              <img src="{{"/assets/images/png/calculation.png"|theme |resize(82, 82,  { mode: 'crop', quality: '80' })}}" class="attachment-full size-full wp-post-image" alt="">                        </figure>
                          <a href="#" class="service-block-title">
                              Nomdor stipendiyalar olish bo'yicha tanlovga hujjatlarni elektron taqdim qilish                         </a>
                      </div>
                  </div>
                              <div class="col-md-3">
                      <div class="service-block-interak">
                          <figure class="service-block-figure">
                              <img src="{{"/assets/images/png/notebook.png"|theme |resize(82, 82,  { mode: 'crop', quality: '80' })}}" class="attachment-full size-full wp-post-image" alt="">                        </figure>
                          <a href="#" class="service-block-title">
                              Eng yaxshi pedagog tanloviga ariza berish                        </a>
                      </div>
                  </div>
                              <div class="col-md-3">
                      <div class="service-block-interak">
                          <figure class="service-block-figure">
                              <img src="{{"/assets/images/png/ereader-1.png"|theme |resize(82, 82,  { mode: 'crop', quality: '80' })}}" class="attachment-full size-full wp-post-image" alt="">                        </figure>
                          <a href="#" class="service-block-title">
                              Akademik ta'tilga chiqish uchun ariza berish                         </a>
                      </div>
                  </div>
                              <div class="col-md-3">
                      <div class="service-block-interak">
                          <figure class="service-block-figure">
                              <img src="{{"/assets/images/png/ereader.png"|theme |resize(82, 82,  { mode: 'crop', quality: '80' })}}" class="attachment-full size-full wp-post-image" alt="">                        </figure>
                          <a href="#" class="service-block-title">
                              Akademik ta'tildan qaytish uchun ariza berish                        </a>
                      </div>
                  </div>
                              <div class="col-md-3">
                      <div class="service-block-interak">
                          <figure class="service-block-figure">
                              <img src="{{"/assets/images/png/writing.png"|theme |resize(82, 82,  { mode: 'crop', quality: '80' })}}" class="attachment-full size-full wp-post-image" alt="">                        </figure>
                          <a href="#" class="service-block-title">
                              Tayanch doktarantura, doktarantura va mustaqil izlanuvchilikka arizalarni elektron berish                        </a>
                      </div>
                  </div>
                          <div class="col-md-3">
                  <div class="service-block-interak">
                      <figure class="service-block-figure">
                          <img src="{{"/assets/images/png/abacus.png"|theme |resize(82, 82,  { mode: 'crop', quality: '80' })}}" <="" figure="">
                      <a href="#" class="service-block-title">
                          To'lov-kontrakt miqdorini aniqlash                    </a>
                  </figure></div>
              </div>
            
          </div>
        </div></section>