description = "Menyu qismi"

[viewBag]
==
<style>

    #menyu-suruluvchi{
        margin-top: 47px;
    }
    
   
</style>
    <!-- site-header-menu -->
    <div id="site-header-menu" class="site-header-menu ttm-bgcolor-white">
        <div class="site-header-menu-inner ttm-stickable-header">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <!--site-navigation -->
                        <div class="site-navigation d-flex flex-row">
                            <!-- site-branding -->
                            <div class="site-branding mr-auto">
                                <a class="home-link" href="{{'/'}}" title="Uniaro" rel="home">
                                    <img id="logo-img" class="img-center lazyload" data-src="{{ 'assets/images/ist_logo.png'|theme |resize (132,70,  { mode: 'crop', quality: '80' })}}" alt="logo-img" style="max-height: 70px;">
                                </a>
                            </div><!-- site-branding end -->
                            <div class="btn-show-menu-mobile menubar menubar--squeeze">
                                <span class="menubar-box">
                                    <span class="menubar-inner"></span>
                                </span>
                            </div>
                            <!-- menu -->
                            <nav class="main-menu menu-mobile" id="menu">
                                <ul class="menu">
                                    <li class="mega-menu-item active">
                                        <a href="home-3.html#" class="mega-menu-link">Yangilik</a>
                                        <ul class="mega-submenu">

                                            <li class="mega-menu-item">
                                                <a href="{{"/barcha-yangiliklar"}}" class="mega-menu-link">OTM yangiliklari</a>
                                                <ul class="mega-submenu">
                                                    
    
                                                    <li><a href="/barcha-yangiliklar/ommaviy-tadbirlar">Ommaviy tadbirlar</a></li>
                                                    
                                                
                                                    
                                                    <li><a href="/barcha-yangiliklar/yangiliklar">Yangiliklar</a></li>
                                                    
                                                
                                                    
                                                    <li><a href="/barcha-yangiliklar/yigilishlar">Yig'ilishlar</a></li>
                                                    
                                                
                                                    
                                                    <li><a href="/barcha-yangiliklar/uchrashuvlar">Uchrashuvlar</a></li>
                                                    
                                                
                                                    
                                                    <li><a href="/barcha-yangiliklar/matbuot-konfrensiyalari">Matbuot konfrensiyalari</a></li>
                                                    
                                                
                                                    
                                                    <li><a href="/barcha-yangiliklar/seminarlar">Seminarlar</a></li>
                                                    
                                                
                                                    
                                                    <li><a href="/barcha-yangiliklar/davra-suhbatlari">Davra suhbatlari</a></li>
                                                    
                                                
                                                    
                                                    <li><a href="/barcha-yangiliklar/rasmiy-tashriflar">Rasmiy tashriflar</a></li>
                                                    
                                                
                                                    
                                                    <li><a href="/barcha-yangiliklar/talabalar-uchun">Talabalar uchun</a></li>
                                                    
                                                
                                                    
                                                    <li><a href="/barcha-yangiliklar/Sport">Sport</a></li>
                                                    
                                                
                                                    
                                                    <li><a href="/barcha-yangiliklar/madaniy-va-marifiy-tadbirlar">Madaniy va ma'rifiy tadbirlar</a></li>
                                                    
                                                
                                                    
                                                    <li><a href="/barcha-yangiliklar/dolzarb-yangilik">Dolzarb yangiliklar</a></li>
                                                    
                                                
                                                    
                                                    <li><a href="/barcha-yangiliklar/oliy-talim">Oliy ta'lim muassasi yangiliklari</a></li>
                                                    
                                                
                                                    
                                                    <li><a href="/barcha-yangiliklar/yoshlar-itfoqi">Yoshlar ittifoqi</a></li>
                                                    
                                                
                                                    
                                                    <li><a href="/barcha-yangiliklar/konferentsiya">Konferentsiya</a></li>
                                                    
                                                
                                                    
                                                    <li><a href="/barcha-yangiliklar/yoshlar-bilan-ishlash-manaiyat-va-marifat-yonalishidagi-ishlar">Yoshlar bilan ishlash, ma'naiyat va ma'rifat yo'nalishidagi ishlar</a></li>
                                                    
                                                
                                                    
                                                    
                                                </ul>
                                                    
                                                
                                            </li>

                                            <li><a href="{{'/barcha-yangiliklar/ommaviy-tadbirlar'}}">Ommaviy tadbirlar</a></li>
                                            <li class="active"><a href="{{'/axborot-makoni'}}">Axborot makoni</a></li>
                                          
                                            <li class="mega-menu-item">
                                                <a href="{{'/elonlar-bolimlari/'}}" class="mega-menu-link">E'lonlar</a>
                                                <ul class="mega-submenu" >
                                                    <li><a href="index.html">Institut e'lonlari</a></li>
                                                    <li><a target="_blank" href="header-style-02.html">Boshqa e'lonlar</a></li>
                                                    
                                                </ul>
                                            </li>


                                            <li><a href="#">Tender e'lonlari</a></li>
                                           
                                        </ul>
                                    </li>

                                    <li class="mega-menu-item megamenu-fw">
                                        <a href="#" class="mega-menu-link">{{"Tuzilma"|_}}</a>
                                        <ul class="mega-submenu megamenu-content" role="menu">
                                            <li>
                                                <div class="row">
                                                    <div class="col-menu col-md-4">
                                                        <h6 class="title">{{"Rahbariyat"|_}}</h6>
                                                        <div class="content">
                                                            <ul class="menu-col">
                                                                {#<li><a href="{{'/raxbariyat'}}">{{"Raxbariyat"|_}}</a></li>#}
                                                                <li><a href="{{'/raxbarlar-sahifasi/muxamedov-gafurdjan-israilovich'}}">{{"OTM Rektori"|_}}</a></li>
                                                                <li><a href="{{'/raxbarlar-sahifasi/xaydarov-ilxom-qudratovich'}}">{{"O'quv ishlari bo'yicha prorektor"|_}}</a></li>
                                                                <li><a href="{{'/raxbarlar-sahifasi/xusanov-baxodir-ergashevich'}}">{{"Yoshlar bilan ishlash bo'yicha prorektor"|_}}</a></li>
                                                                <li><a href="{{'/raxbarlar-sahifasi/ziyadullayev-odiljon-egamberdiyevich'}}">{{"Ilmiy ishlar bo'yicha prorektor"|_}}</a></li>
                                                                <li><a href="{{'/raxbarlar-sahifasi/ortikov-oybek-abdullayevich'}}">{{"Moliya-iqtisod ishlari bo'yicha prorektor"|_}}</a></li>
                                                              
                                                            </ul>
                                                        </div>
                                                    </div><!-- end col-3 -->
                                                    <div class="col-menu col-md-4">
                                                        <h6 class="title">{{"Markaz va bo'limlar"|_}} </h6> 
                                                        <div class="content">
                                                            <ul>
                                                                <li><a href="{{'/markaz-bolimlar'}}">{{"Barcha markaz va bo'limlar"|_}}</a></li>

                                                                <li class="mega-menu-item  ">
                                                                    <a  class="mega-menu-link">{{"Markazlar"|_}}</a>
                                                                    <ul class="mega-submenu" id="menyu-suruluvchi">
                                                                        <li><a href="{{'/markaz-va-bolim-sahifasi/axborot-resurs-markazi'}}">{{"Axborot resurs markazi"|_}}</a></li>
                                                                        <li><a href="{{'/markaz-va-bolim-sahifasi/axborot-texnologiyalari-markazi'}}">{{"Axborot texnologiyalari markazi"|_}}</a></li>                                                                                                                            
                                                                    </ul>
                                                                </li>

                                                                <li class="mega-menu-item  ">
                                                                    <a href="home-3.html#" class="mega-menu-link">{{"№1: Bo'limlar"|_}}</a>
                                                                    <ul class="mega-submenu " id="menyu-suruluvchi">
                                                                        <li><a href="{{'/markaz-va-bolim-sahifasi/xalqaro-hamkorlik-bolimi'}}">{{"Xalqaro hamkorlik bo'limi"|_}}</a></li>
                                                                        <li><a href="{{'/markaz-va-bolim-sahifasi/monitoring-va-ichki-nazorat-bolimi'}}">{{"Monitoring va ichki nazorat bo'limi"|_}}</a></li>
                                                                        <li><a href="{{'/markaz-va-bolim-sahifasi/xodimlar-bolimi'}}">{{"Xodimlar boʻlimi"|_}}</a></li>
                                                                        <li><a href="{{'/markaz-va-bolim-sahifasi/marketing-bolimi'}}">{{"Marketing boʻlimi"|_}}</a></li>
                                                                        <li><a href="{{'/markaz-va-bolim-sahifasi/yoshlar-bilan-ishlash-manaviyat-va-marifat'}}">{{"Yoshlar bilan ishlash, ma’naviyat va ma’rifat"|_}}</a></li>
                                                                        <li><a href="{{'/markaz-va-bolim-sahifasi/iqtidorli-talabalarning-ilmiy-tadqiqot-faoliyatini-tashkil-etish-bolimi'}}">{{"Iqtidorli talabalarning ilmiy-tadqiqot faoliyatini tashkil etish bo’limi"|_}}</a></li>
                                                                        <li><a href="{{'/markaz-va-bolim-sahifasi/ozbekiston-yoshlar-ittfoqi-boshlangich-tashkiloti'}}">{{"Institut Yoshlar yetakchisi"|_}}</a></li>
                                                                        <li><a href="{{'/markaz-va-bolim-sahifasi/yuriskonsult'}}">{{"Yuriskonsult"|_}}</a></li>
                                                                                                                                              
                                                                    </ul>
                                                                </li>

                                                                <li class="mega-menu-item  ">
                                                                    <a href="home-3.html#" class="mega-menu-link">{{"№2: Bo'limlar"|_}}</a>
                                                                    <ul class="mega-submenu " id="menyu-suruluvchi">
                                                                        <li><a href="{{'/markaz-va-bolim-sahifasi/buxgalteriya'}}">{{"Buxgalteriya"|_}}</a></li>
                                                                        <li><a href="{{'/markaz-va-bolim-sahifasi/sirtqi-bolim'}}">{{"Sirtqi bo'lim"|_}}</a></li>
                                                                        <li><a href="{{'/markaz-va-bolim-sahifasi/oquv-uslubiy-bolim'}}">{{"Oʻquv-uslubiy boʻlim "|_}}</a></li>
                                                                        <li><a href="{{'/markaz-va-bolim-sahifasi/reja-moliya'}}">{{"Reja moliya"|_}}</a></li>
                                                                        <li><a href="{{'/markaz-va-bolim-sahifasi/devonxona'}}">{{"Devonxona"|_}}</a></li>
                                                                        <li><a href="{{'/markaz-va-bolim-sahifasi/texnik-foydalanish-va-xojalik-bolimi'}}">{{"Texnik-foydalanish va xо‘jalik bо‘limi"|_}}</a></li>
                                                                        <li><a href="{{'/markaz-va-bolim-sahifasi/http://chdpial.uz/'}}">{{"Akademik litsey"|_}}</a></li>
                                                                        <li><a href="{{'/markaz-va-bolim-sahifasi/ilmiy-innovatsion-ishlanmalarni-tijoratlashtirish-bolimi'}}">{{"Ilmiy-innovatsion ishlanmalarni tijoratlashtirish bo’limi"|_}}</a></li>
                                                                        <li><a href="{{'/markaz-va-bolim-sahifasi/ilmiy-tadqiqot-innovatsiyalar-va-ilmiy-pedagogik-kadrlar-tayyorlash-bolimi'}}">{{"Ilmiy-tadqiqot, innovatsiyalar va ilmiy-pedagogik kadrlar tayyorlash bo’limi"|_}}</a></li>
                                                                                                                                              
                                                                    </ul>                                                                   
                                                                </li>

                                                                
                                                            </ul>
                
                                                        </div>
                                                    </div><!-- end col-3 -->
                                                    
                                                    
                                                                  <div class="col-menu col-md-4">
                                                        <h6 class="title">Fakultet va kafedralar</h6>
                                                        <div class="content">
                                                            <ul class="menu-col">
                                                                <li class="mega-menu-item  ">
                                                                    <a href="#" class="mega-menu-link ">{{"Aniq fanlar fakulteti"|_}}</a>
                                                                    <ul class="mega-submenu" id="menyu-suruluvchi">
                                                                        <li><a href="#">Matematika kafedrasi</a></li>
                                                                        <li><a href="#">Fizika kafedrasi</a></li>
                                                                        <li><a href="#">Informatika kafedrasi </a></li>                 
                                                                    </ul>
                                                                </li>
                                                                
                                                                 <li class="mega-menu-item  ">
                                                                    <a href="#" class="mega-menu-link ">{{"Tabiiy fanlar fakulteti"|_}}</a>
                                                                    <ul class="mega-submenu" id="menyu-suruluvchi"> 
                                                                        <li><a href="#">Kimyo kafedrasi</a></li>
                                                                        <li><a href="#">Biologiya kafedrasi</a></li>
                                                                        <li><a href="#">Geografiya kafedrasi</a></li>
                                                                     
                                                                                                                                              
                                                                    </ul>
                                                                </li>

                                                                <li class="mega-menu-item  ">
                                                                    <a href="#" class="mega-menu-link">{{"Tarix va tillar fakulteti"|_}}</a>
                                                                    <ul class="mega-submenu " id="menyu-suruluvchi">
                                                                        
                                                                        <li><a href="#">Tarix kafedrasi</a></li>
                                                                        <li><a href="#">Ijtimoiy fanlar kafedrasi </a></li>
                                                                        <li><a href="#">О‘zbek tili va adabiyoti kafedrasi</a></li>
                                                                        <li><a href="#">Rus tili kafedrasi</a></li>
                                                                        <li><a href="#">Xorijiy tillar kafedrasi</a></li>
                                                                        <li><a href="#">Fakultetlararo chet tillar kafedrasi </a></li>
                                                                        
                                                                        
                                                                                                                                              
                                                                    </ul>                                                                   
                                                                </li>
                                                                <li class="mega-menu-item  ">
                                                                    <a href="#" class="mega-menu-link">{{"Pedagogika fakulteti"|_}}</a>
                                                                    <ul class="mega-submenu " id="menyu-suruluvchi"> 
                                                                        <li><a href="#">Pedagogika va menejment kafedrasi </a></li>
                                                                        <li><a href="#">Psixologiya kafedrasi </a></li>
                                                                        <li><a href="#">Musiqa va defektologiya kafedrasi</a></li>      
                                                                    </ul>                                                                   
                                                                </li>

                                                                <li class="mega-menu-item  ">
                                                                    <a href="#" class="mega-menu-link">{{"Maktabgacha va boshlang'ich ta'lim fakulteti"|_}}</a>
                                                                    <ul class="mega-submenu " id="menyu-suruluvchi">
                                                                         <li><a href="#">Maktabgacha ta’lim kafedrasi</a></li>
                                                                        <li><a href="#">Boshlang'ich ta'lim kafedrasi</a></li> 
                                                                                                                                              
                                                                    </ul>                                                                   
                                                                </li>
                                                                
                                                                <li class="mega-menu-item  ">
                                                                    <a href="#" class="mega-menu-link">{{"Sport va chaqiriqqacha harbiy ta'lim fakulteti"|_}}</a>
                                                                    <ul class="mega-submenu " id="menyu-suruluvchi">         
                                                                        <li><a href="#">Texnologik ta'lim kafedrasi</a></li>
                                                                        <li><a href="#">Jismoniy madaniyat kafedrasi</a></li>
                                                                        <li><a href="#">Tasviriy san’at kafedrasi</a></li>
                                                                        <li><a href="#">Fakultetlararo jismoniy tarbiya kafedrasi </a></li>
                                                                      
                                                                                                                                              
                                                                    </ul>                                                                   
                                                                </li>

                                                            </ul>
                                                        </div>
                                                    </div>  
                                                    
                                                    
                                                 
                                                </div><!-- end row -->

                                                <!-- Ikkinchi qator boshlandi -->
                                                <div class="row">
                                                    <div class="col-menu col-md-4">
                                                        <h6 class="title">{{"Kengashlar"|_}}</h6>
                                                        <div class="content">
                                                            <ul class="menu-col">
                                                                <li><a href="{{'/institut-kengashi'}}">{{"Institut kengashi"|_}}</a></li> 
                                                                <li><a href="{{'/ilmiy-kengash'}}">{{"Ilmiy kengash"|_}}</a></li>
                                                                
                                                              
                                                            </ul>
                                                        </div>
                                                    </div><!-- end col-3 -->
                                                    <div class="col-menu col-md-4">
                                                        <h6 class="title">{{"Faoliyat"|_}}</h6>
                                                        <div class="content">
                                                            <ul class="menu-col">
                                                                <li><a href="{{'/tuzulma/otm-nizomi'}}">{{"Institut nizomi"|_}}</a></li>
                                                                <li><a href="{{'/talim-sifati-nazorati'}}">{{"Ta'lim sifati nazorati"|_}}</a></li>
                                                                
                                                            </ul>
                                                        </div>
                                                    </div><!-- end col-3 -->
                                      
                                                       <!--  <div class="col-menu col-md-4">
                                                       <h6 class="title">Fakultetlar</h6>
                                                       <div class="content">
                                                           <ul class="menu-col">
                                                               <li><a href="#">Aniq fanlar fakulteti</a></li>
                                                               <li><a href="#">Tabiiy fanlar fakulteti</a></li>
                                                               <li><a href="#">Tarix va tillar fakulteti</a></li>
                                                               <li><a href="#">Pedagogika fakulteti</a></li>
                                                               <li><a href="#">Maktabgacha va boshlang’ich ta’lim fakulteti</a></li>
                                                               <li><a href="#">Sport va chaqiriqqacha xarbiy ta'lim fakulteti</a></li>
                                                             
                                                           </ul>
                                                       </div>
                                                         </div>     -->
                                        
                                                </div><!-- end row -->
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="mega-menu-item">
                                        <a class="mega-menu-link">{{"Faoliyat"|_}}</a>
                                        <ul class="mega-submenu">
                                            <li><a target="_blank" href="https://exujjat.cspi.uz/exujjat/">{{"E-hujjat"|_}}</a></li>
                                            <li><a href="{{'/otm-reytingi'}}">{{"OTM reytingi"|_}}</a></li>                                       
                                            <li class="mega-menu-item  ">
                                                <a href="{{'/ilmiy-faoliyat'}}" class="mega-menu-link">{{"Ilmiy faoliyat"|_}}</a>
                                                <ul class="mega-submenu ">
                                                    <li><a href="{{'/ilmiy-faoliyat-sahifasi/doktorantlar-maktabi'}}">{{"Doktorantlar maktabi"|_}}</a></li>
                                                    <li><a href="{{'/ilmiy-faoliyat-sahifasi/ilmiy-tadqiqot-faoliyati'}}">{{"Ilmiy tadqiqot faoliyati"|_}}</a></li>
                                                    <li><a href="{{'/ilmiy-faoliyat-sahifasi/desertatsiya'}}">{{"Desertatsiya"|_}}</a></li>
                                                    <li><a href="{{'/ilmiy-faoliyat-sahifasi/avtoreferat'}}">{{"Aftoreferat"|_}}</a></li>
                                                    <li><a href="{{'/ilmiy-faoliyat-sahifasi/konfrensiyalar'}}">{{"Konfrensiyalar"|_}}</a></li> 
                                                    <li><a href="{{'/ilmiy-faoliyat-sahifasi/doktorantura-va-mustaqil-tadqiqotchilar'}}">{{"Doktorantura va mustaqil tadqiqotchilar"|_}}</a></li>
                                                    <li><a href="{{'/ilmiy-faoliyat-sahifasi/doktorantura-va-mustaqil-tadqiqotchilarning-imtixon-natijalari'}}">{{"Doktorantura va mustaqil tadqiqotchilarning imtixon natijalari"|_}}</a></li> 
                                                    <li><a href="{{'/ilmiy-faoliyat-sahifasi/ilmiy-tadqiqot-foliyatga-oid-meyoriy-huquqiy-xujjatlar'}}">{{"Ilmiy-tadqiqot foliyatga oid meʼyoriy-huquqiy xujjatlar"|_}}</a></li> 
                                                    <li><a href="{{'/ilmiy-faoliyat-sahifasi/mening-innovatsion-goyam'}}">{{"Mening innovatsion g'oyam"|_}}</a></li> 
                                              
                                                                                                                          
                                                </ul>                                                                   
                                            </li>
                                            <li><a href="{{'/xalqaro-hamkorlik'}}">{{"Xalqaro a'loqalar"|_}}</a></li>
                                            <li class="mega-menu-item  ">
                                                <a href="{{'/moliyaviy-faoliyat'}}" class="mega-menu-link">{{"Moliyaviy faoliyat"|_}}</a>
                                                <ul class="mega-submenu ">
                                                    <li><a href="{{'/moliyaviy-faoliyat-sahifasi/muassasa-byujeti'}}">{{"Muassasa byujeti"|_}}</a></li>
                                                    <li><a href="{{'/moliyaviy-faoliyat-sahifasi/ish-xaqini-xisoblash-va-mukofotlarni-taqsimlash-qoidalari'}}">{{"Ish xaqini xisoblash va mukofotlarni taqsimlash qoidalari"|_}}</a></li>
                                                    <li><a href="{{'/moliyaviy-faoliyat-sahifasi/davlat-xaridlariga-oid-tuzilgan-shartnomalar'}}">{{"Davlat xaridlariga oid tuzilgan shartnomalar"|__}}</a></li>
                                                    <li><a href="{{'/moliyaviy-faoliyat-sahifasi/chirchiq-davlat-pedagogika-institutining-2019-yil-yakuni-boyicha-moliyaviy-korsatkichlari'}}">{{"Moliyaviy ko'rsatkichlar 2019"|__}}</a></li>
                                              
                                                                                                                          
                                                </ul>                                                                   
                                            </li>
                                            <li><a href="{{'/5-tashabbus'}}">{{"5 tashabbus markazi"|_}}</a></li>
                                            <li><a href="{{'/otm-tarixi'}}">{{"OTM tarixi"|_}}</a></li>
                                            <li><a href="{{'/barcha-yangiliklar/madaniy-va-marifiy-tadbirlar'}}">{{"Madaniy-ma`rifiy faoliy"|_}}</a></li>
                                            <li><a href="{{'/ekologiya-va-atrof-muhitni-muhofaza-qilish'}}">{{"Ekologiya va atrof-muhitni muhofaza qilish"|_}}</a></li>
                                           
                                        </ul>
                                    </li>
                                    <li class="mega-menu-item">
                                        <a href="home-3.html#" class="mega-menu-link">Abiturient</a>
                                        <ul class="mega-submenu">
                                
                                            <li class="mega-menu-item  ">
                                                <a href="#" class="mega-menu-link">Bakalavriyat</a>
                                                <ul class="mega-submenu ">
                                                    <li><a href="#">Abituriyentlardan tushgan arizalar soni</a></li>
                                                    <li><a href="#">Tasviriy sa'nat va muhandislik grafikasi fanlaridan baholanish mezonlari </a></li>
                                                    <li><a href="#">Qabul kvotalari 2019</a></li>
                                                    <li><a href="#">Abituriyentlarga eslatma</a></li>
                                                    <li><a href="#">Hujjatlarni rasmiylashtirish</a></li>
                                                    <li><a href="#">Qabulga oid hujjatlar</a></li>
                                                    <li><a href="#">Qabul nizomi</a></li>
                                                    <li><a href="#">Imtihon fanlari ro'yxati</a></li>
                                                    <li><a href="#">Qabul ko'rsatgichi</a></li>
                                                    <li><a href="#">O'tish ballari</a></li>        
                                                </ul>                                                                   
                                            </li>

                                            <li class="mega-menu-item  ">
                                                <a href="#" class="mega-menu-link">Magistratura</a>
                                                <ul class="mega-submenu ">
                                                    <li><a href="#">Magistratura uchun qabul rejasi</a></li>
                                                    <li><a href="#">Oliy ta'lim muassasalariga o'qishga qabul qilishda milliy xamda halqaro baxolash tizimlari sertifikatlarini tatbiq qilish chora-tadbirlari tog'risida </a></li>
                                                    <li><a href="#">2019-2020 o‘quv yili uchun magistraturaga kirish sinov dasturlari va baholash mezonlari</a></li>                                                        
                                                </ul>                                                                   
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="mega-menu-item">
                                        <a href="shop.html" class="mega-menu-link">Talabalar</a>
                                        <ul class="mega-submenu">
                                            <li><a href="#" target="_blank">Elektron ta'lim tizimi</a></li>
                                            <li class="mega-menu-item  ">
                                                <a href="#" class="mega-menu-link">Bakalavriyat</a>
                                                <ul class="mega-submenu ">
                                                    <li><a href="#">Kunduzgi ta'lim</a></li>
                                                    <li><a href="#">Sirtqi ta'lim</a></li>
                                                    <li><a href="#">Kechki ta'lim</a></li>                                                        
                                                </ul>                                                                   
                                            </li>
                                            <li class="mega-menu-item  ">
                                                <a href="#" class="mega-menu-link">Magistratura</a>
                                                <ul class="mega-submenu ">
                                                    <li><a href="#">Yo'riqnoma</a></li>
                                                    <li><a href="#">Dars jadvali</a></li>
                                                    <li><a href="#">O'zlashtirish</a></li>                                                        
                                                    <li><a href="#">Davomat</a></li>                                                        
                                                    <li><a href="#">Iqtidorli talabalar</a></li>                                                        
                                                    <li><a href="#">Talabalar turar joylari</a></li>                                                        
                                                    <li><a href="#">Davlat imtihonlari</a></li>                                                        
                                                    <li><a href="#">Magisterlik disertatsiyasi himoyasi</a></li>                                                        
                                                                                                      
                                                </ul>                                                                   
                                            </li>
                                            <li class="mega-menu-item  ">
                                                <a href="#" class="mega-menu-link">Xorijiy talabalar uchun</a>
                                                <ul class="mega-submenu ">
                                                    <li><a href="#">Xorijiy talabalar tо'g'risida ma'lumot</a></li>
                                                    <li><a href="#">Xorijiy talabalar uchun to‘lov kontrakt miqdori</a></li>
                                                    <li><a href="#">Chet el fuqarolari uchun qabul jarayoni</a></li>                                                        
                                                    <li><a href="#">Amaliy о‘quv kurslari</a></li>                                                        
                                                                                                        
                                                                                                      
                                                </ul>                                                                   
                                            </li>
                                            <li><a href="#" target="_blank">"Mening fikrim" - jamoaviy murojaatlar portali </a></li>
                                         
                                        </ul>
                                    </li>
                                    <li class="mega-menu-item">
                                        <a href="home-3.html#" class="mega-menu-link">Hujjatlar</a>
                                        <ul class="mega-submenu">
                                            <li><a href="#">Prezident qaror va farmonlari</a></li>
                                            <li><a href="#">Vazirlik buyruqlari va kollegiya qarorlari</a></li>
                                            <li><a href="#">Hukumat qaror va dasturlari</a></li>
                                            <li><a href="#">OTM normativ xujjatlari</a></li>
                                            
                                        </ul>
                                    </li>

                                    <li class="mega-menu-item">
                                        <a href="home-3.html#" class="mega-menu-link">Bog'lanish</a>
                                        <ul class="mega-submenu">
                                            <li><a href="#">Aloqa</a></li>
                                            <li><a href="#">Virtual Qabulxona</a></li>
                                            <li><a href="#">Mening fikrim</a></li>
                                            <li><a href="#">Telefon raqamlar</a></li>
                                            
                                        </ul>
                                    </li>
                                </ul>
                            </nav>
                            <div class="header_extra d-flex flex-row align-items-center justify-content-end">
                                <div class="header_search">
                                    <a href="home-3.html#" class="btn-default search_btn"><i class="ti ti-search"></i></a>
                                    <div class="header_search_content">
                                        <form id="searchbox" method="get" action="home-3.html#">
                                            <input class="search_query" type="text" id="search_query_top" name="s" placeholder="Enter Keyword" value="#">
                                            <button type="submit" class="btn close-search"><i class="fa fa-search"></i></button>
                                        </form>
                                    </div>
                                </div>
                                <!-- <div class="header_cart">
                                    <a href="home-3.html#" class="button-cart">
                                        <div class="cart_icon"><i class="fa fa-shopping-cart"></i></div>
                                        <div class="cart_count">0</div>
                                    </a>
                                </div> -->
                            </div>
                        </div><!-- site-navigation end-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- site-header-menu end-->
</header><!--header end-->