description = "Slayderdan so'ng keladigan kichik bo'lak"

[viewBag]
==
<!--features-section-->
    <section class="ttm-row features-section ttm-bgcolor-grey clearfix">
        <div class="container-fluid">
            <!-- row -->
            <div class="row align-items-center ttm-vertical_sep">
                <div class="col-lg-4">
                    <!-- featured-icon-box -->
                    <div class="featured-icon-box icon-align-before-content icon-ver_align-top style1">
                        <div class="featured-icon">
                            <div class="ttm-icon ttm-icon_element-onlytxt ttm-icon_element-color-skincolor ttm-icon_element-size-lg">
                                <i class="flaticon-book-1"></i>
                            </div>
                        </div>
                        <div class="featured-content">
                            <div class="featured-title">
                                <h5>Elektron resurslar</h5>
                            </div>
                            <div class="featured-desc">
                                <p>Bu bo'limdan siz o'zingizga kerakli elektron resurslarni topishingiz va yuklab olishingiz mumkin.</p>
                            </div>
                            <a class="ttm-btn ttm-btn-size-md ttm-icon-btn-right ttm-btn-color-skincolor btn-inline" href="http://lib.cspi.uz/">Bu yerga bosing<i class="ti ti-angle-double-right"></i></a>
                        </div>
                    </div><!-- featured-icon-box end-->
                </div>
                <div class="col-lg-4">
                    <!-- featured-icon-box -->
                    <div class="featured-icon-box icon-align-before-content icon-ver_align-top style1">
                        <div class="featured-icon">
                            <div class="ttm-icon ttm-icon_element-onlytxt ttm-icon_element-color-skincolor ttm-icon_element-size-lg">
                                <i class="flaticon-school-4"></i>
                            </div>
                        </div>
                        <div class="featured-content">
                            <div class="featured-title">
                                <h5>Elektron ta'lim tizimi</h5>
                            </div>
                            <div class="featured-desc">
                                <p>Online platforma orqali, masofaviy ta'lim olish va qo'shimcha mashg'ulotlar o'tish uchun tizim.</p>
                            </div>
                            <a class="ttm-btn ttm-btn-size-md ttm-icon-btn-right ttm-btn-color-skincolor btn-inline" href="http://dist.cspi.uz">Bu yerga bosing<i class="ti ti-angle-double-right"></i></a>
                        </div>
                    </div><!-- featured-icon-box end-->
                </div>
                <div class="col-lg-4">
                    <!-- featured-icon-box -->
                    <div class="featured-icon-box icon-align-before-content icon-ver_align-top style1">
                        <div class="featured-content">
                            <div class="featured-title">
                                <h5>Interaktiv xizmatlar</h5>
                            </div>
                            <div class="featured-desc">
                                <p>Interaktiv xizmatlardan foydalanishingiz mumkin.</p>
                            </div>
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="ttm-icon ttm-icon_element-onlytxt ttm-icon_element-color-skincolor ttm-icon_element-size-lg">
                                    <i class="flaticon-test"></i>
                                </div>
                                <div class="ttm-icon ttm-icon_element-onlytxt ttm-icon_element-color-skincolor ttm-icon_element-size-lg">
                                    <i class="flaticon-school"></i>
                                </div>
                                <div class="ttm-icon ttm-icon_element-onlytxt ttm-icon_element-color-skincolor ttm-icon_element-size-lg">
                                    <i class="flaticon-presentation"></i>
                                </div>
                                <div class="ttm-icon ttm-icon_element-onlytxt ttm-icon_element-color-skincolor ttm-icon_element-size-lg">
                                    <i class="flaticon-meeting"></i>
                                </div>
                            </div>
                        </div>
                    </div><!-- featured-icon-box end-->
                </div>
            </div><!-- row end -->
        </div>
    </section>
    <!--features-section end-->