==
{% partial 'general/header'%}

<body>

    <!--page start-->
    <div class="page">


        <!--header start-->
        <header id="masthead" class="header ttm-header-style-01">
        
    
   {# {% partial 'pages/fbar-main'%}#}
    
    {% partial 'pages/top-bar'%}

    {% partial 'pages/main-menyu'%}
            
    <div class="site-main">
    
    
    <section class="ttm-row blog-section bg-img2 ttm-bgcolor-grey ttm-bg ttm-bgimage-yes clearfix">
            <div class="ttm-row-wrapper-bg-layer ttm-bg-layer"></div>
            <div class="container" style="max-width: 1200px">
                 <!-- row -->
                <div class="row align-items-center">
                    <div class="col-xl-10 col-lg-10 col-md-12">
                        <!-- section-title -->
                        {% page%}
                    </div>
                    
                                             
                                             
                                             
                         
                    
                </div>
            </div>
        </section>
    
    
    


    </div><!--site-main end-->

  {% partial 'pages/footer'%}
   
    <!--footer end-->

    <!--back-to-top start-->
    <a id="totop" href="home-3.html#top">
        <i class="fa fa-angle-up"></i>
    </a>
    <!--back-to-top end-->

</div><!-- page end -->

{% partial 'general/footer'%}