[staticPage]
useContent = 1
default = 0
==
{% partial 'general/header'%}

    <body>
        <style>
    .img-fluid {
        max-width: 100%;
    }
    p img{
        max-width: 100%;
        height: auto !important;
    }
    </style>
        <!--page start-->
        <div class="page">
    
    
                <!--header start-->
            <header id="masthead" class="header ttm-header-style-01">
                
            
            {#{% partial 'pages/fbar-main'%}#}
            
            {% partial 'pages/top-bar'%}
        
            {% partial 'pages/main-menyu'%}
                    
           
               
    <!-- page-title -->
        <div class="ttm-page-title-row">
            <div class="ttm-page-title-row-inner ttm-textcolor-white">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-12">
                            <div class="page-title-heading">
                                <h2 class="title">{{ this.page.title }}</h2>
                            </div>
                            <div class="breadcrumb-wrapper">
                                <span>
                                    <a title="Homepage" href="{{"/"}}">{{"Bosh sahifa"|_}}</a>
                                </span>
                                <span class="ttm-bread-sep">&nbsp;&gt;&nbsp;</span>
                                <span class="current">{{"Siz turgan sahifa"|_}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>                    
        </div><!-- page-title end-->
<!--site-main start-->
    <div class="site-main">

        <section class="ttm-row">
            <div class="container">                
                <div class="row">                 
                    <div class="col-lg-12">
                       {% page %}
                    </div>
                </div>
            </div>
        </section>
        
    </div><!--site-main end-->
    
     {% partial 'pages/footer'%}
           
            <!--footer end-->
        
            <!--back-to-top start-->
            <a id="totop" href="home-3.html#top">
                <i class="fa fa-angle-up"></i>
            </a>
            <!--back-to-top end-->
    
        </div><!-- page end -->

{% partial 'general/footer'%}