[staticPage]
useContent = 1
default = 1
==
{% partial 'general/header'%}

    <body>
    
        <!--page start-->
        <div class="page">
    
    
                <!--header start-->
            <header id="masthead" class="header ttm-header-style-01">
                
            
            {#{% partial 'pages/fbar-main'%}#}
            
            {% partial 'pages/top-bar'%}
        
            {% partial 'pages/main-menyu'%}
                    
           
                {% page%}
         
        
            {% partial 'pages/footer'%}
           
            <!--footer end-->
        
            <!--back-to-top start-->
            <a id="totop" href="home-3.html#top">
                <i class="fa fa-angle-up"></i>
            </a>
            <!--back-to-top end-->
    
        </div><!-- page end -->

{% partial 'general/footer'%}